__pycache__/
.pytest_cache/
*.pyc

reports/**
!reports/
!reports/index.html
!reports/.nojekyll
!reports/**/
!reports/**/*.html
!reports/**/*.xlsx
dist/
stockscanner.egg-info/
charts/*.png
logs/*.log

data/

.vscode/
.env
.venv/
venv/